@font-face {
  font-family: "Telegraf";
  src: local("Telegraf"),
    url("./fonts/Telegraf-Regular-400.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Telegraf", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
